# RabbitMQ Connection
RABBITMQ_URL=amqp://localhost
RABBITMQ_HOST=localhost

# Queue Names
REPLY_QUEUE=server_reply_queue
LOG_QUEUE=server_log_queue
INITIALIZER_QUEUE=course_details_initializer_queue
FINALIZER_QUEUE=course_details_finalizer_queue
PLANNER_QUEUE=course_planner_queue
INJECTOR_QUEUE=content_injector_queue
