# MongoDB Connection String
MONGO_URI=mongodb://localhost:27017/coursorDB

# JWT Secret for signing tokens
JWT_SECRET=super_secret_jwt_signature_key

# Port
PORT=8080

# Google OAuth Client ID
GOOGLE_CLIENT_ID=your_google_cloud_client_id_here
